In [7]:
import pandas as pd
import json

In [8]:
# Import json and consolidate
poke_df = pd.read_json('./pokemon_raw.json')
poke_df['price'] = 0
poke_df['img_url'] = ""
poke_df = poke_df[['name','level','images','price','img_url','rarity','number']]
poke_df.head(2)

,name,level,images,price,img_url,rarity,number
0,Alakazam,42.0,{'small': 'https://images.pokemontcg.io/base1/...,0,,Rare Holo,1
1,Blastoise,52.0,{'small': 'https://images.pokemontcg.io/base1/...,0,,Rare Holo,2

In [9]:
# Grab wanted img_url from images dict
i = 0
for dict in poke_df['images']:
    poke_df.at[i,'image'] = dict['small']
    i = i+1
poke_df.drop(columns=['images'], inplace=True)
poke_df.head(2)

,name,level,price,img_url,rarity,number,image
0,Alakazam,42.0,0,,Rare Holo,1,https://images.pokemontcg.io/base1/1.png
1,Blastoise,52.0,0,,Rare Holo,2,https://images.pokemontcg.io/base1/2.png

In [10]:
# List unique rarities to dtermine price
poke_df['rarity'].unique()

array(['Rare Holo', 'Rare', 'Uncommon', 'Common'], dtype=object)

In [11]:
import random

def getPrice(rarity):
    if rarity == 'Rare Holo':
        return 80 + random.random() * 80
    if rarity == 'Rare':
        return 50 + random.random() * 50
    if rarity == 'Uncommon':
        return 10 + random.random() * 10    
    if rarity == 'Common':
        return 5 + random.random() * 5

for index, card in poke_df.iterrows():
    poke_df.at[index,'price'] = getPrice(card['rarity'])

poke_df = poke_df[['name', 'level', 'price', 'rarity', 'number', 'image']]
poke_df.head(2)

,name,level,price,rarity,image
0,Alakazam,42.0,158,Rare Holo,https://images.pokemontcg.io/base1/1.png
1,Blastoise,52.0,146,Rare Holo,https://images.pokemontcg.io/base1/2.png

In [12]:
poke_df.to_json(r'pokemon_cards.json',orient='records')